.footer {
  position: absolute;
  bottom: 0px;
  right: 0;
  width: 100%;
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-title {
  min-width: 300px;
  text-align: center;
  font-size: 32px;
  font-weight: 300;
  font-family:Arial, Helvetica, sans-serif;
}